{% extends "base.html" %}
{% block title %}Последние обновления {% endblock %}
{% load cache %}
{% block content %}
<div class="container">

    {% include "menu.html" with index=True %}

        <h1>Последние обновления на сайте</h1>
        {% cache 20 index_page %}
        {% for post in page %}
            {% include "post_item.html" with post=post %}
        {% endfor %}
        {% endcache %}

        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

    </div>
{% endblock %}