{% extends "base.html" %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        {{ post.author.get_full_name }}
                    </div>
                        <div class="h3 text-muted">
                            <a href="{% url 'profile' post.author.username %}"> {{post.author.username}} </a>
                        </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h6 text-muted">
                                    Подписчиков:
                                    {{ post.author.following.count }} <br />
                                    Подписан: {{ post.author.follower.count }}
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">
{#                                    author.posts.count#}
                                    <a href="{% url 'profile' post.author %}"> Записей: {{ post.author.count }} </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        <div class="col-md-9">
           {% include "includes/post_item.html" with post=post %}
            {% include 'includes/comments.html' with post=post items=post.comments.all form=form %}
        </div>

    </div>
</main>
{% endblock %}